html, body {
    background-color: darkgrey;
    color: #484848;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    text-align: center;
    background-color: #484848;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #DADEDF;
    transition: all 0.3s;
    font-size: 18px;
}

.navbar a:hover {
    transform: rotate(45deg);
    color: grey;
}

#search {
    display: flex;
    align-items: center;
}

#searchbox {
    width: 150px;
    padding: 5px;
    border: 1px solid #DADEDF;
    border-radius: 3px;
}

#search_button {
    background: darkgrey;
    color: #DADEDF;
    border: none;
    padding: 5px 10px;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

/* Style for the countdown grid container */
.countdown-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

/* Style for the countdown boxes */
.countdown-box {
    background-color: rgb(42, 36, 36);
    color: #DADEDF;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;
}

.countdown h1 {
    font-size: 20px;
    margin: 10px 0 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.countdown div {
    font-size: 18px;
    margin: 0;
}

.countdown-box:hover {
    transform: scale(1.05);
}

/* Style for the countdown numbers */
.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown div {
    font-size: 20px;
    margin: 0 10px;
    padding: 5px;
    background-color: #DADEDF;
    color: #484848;
    border-radius: 5px;
}

#title {
    text-align: center;
    margin: 20px;
}

#title h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

footer p {
    margin: 0;
}


footer {
    text-align: center;
    background-color: #484848;
    color: #DADEDF;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.button-container {
    text-align: center; /* Center-align the button within the container */
    margin-top: 20px; /* Add margin for spacing */
}

.button {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #484848;
    color: #DADEDF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for attention */
}

.button:hover {
    background-color: black;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Change box shadow on hover */
}